/*@media(min-width: 1200px) {*/
/*    #generateButton {*/
/*        margin-top: 25px;*/
/*    }*/
/*}*/

.otp {
    text-align: center;
}

input[readonly].form-control {
    background-color: #ffffff;
}

#QRWrapper {
    display: none;
}

/*.row {*/
/*    border: 1px solid darkred;*/
/*}*/

.progress-bar {
    -webkit-transition: none !important;
    transition: none !important;
}
