#gen-progress-bar {
    width: 100%;
}

#gen-success,
#finish-success {
    color: #009900;
}

#gen-error,
#finish-error {
    color: #990000;
}

.done-text {
    display: none;
    font-weight: bold;
}

#key-length {
    width: auto;
    margin-right: 10px;
}

.key-box {
    border: 1px solid #999999;
    font-size: 9pt;
    white-space: pre;
}
