{% extends "base.html" %}

{% block content %}

<p>This tool encrypts and decrypts strings using AES-256-CBC, and is fully compatible with OpenSSL.</p>

<div class="row">
    <div class="col-12 mb-2">
        <textarea id="plaintext" class="form-control" rows="5" placeholder="Plaintext"></textarea>
    </div>
</div>
<div class="row">
    <div class="col-12 col-sm-6 col-lg-5 col-xl-4 mb-2">
        <div class="input-group">
            <div class="input-group-prepend">
                <span id="key-icon" class="input-group-text"><i class="fa fa-key"></i></span>
            </div>
            <input type="password" id="key" class="form-control text-monospace" placeholder="Key" aria-describedby="key-icon">
            <div class="input-group-append">
                <button type="button" id="show-key-button" class="btn btn-light btn-outline-secondary"><i class="fa fa-eye"></i></button>
                <button type="button" id="gen-key-button" class="btn btn-light btn-outline-secondary"><i class="fa fa-repeat"></i></button>
            </div>
        </div>
    </div>
    <div id="crypt-buttons" class="col-12 col-sm-6 col-md-3 col-lg-2 mb-2">
        <div class="btn-group btn-group-justified d-flex" role="group">
            <button type="button" id="encrypt-button" class="btn btn-success btn-outline-success active">Encrypt</button>
            <button type="button" id="decrypt-button" class="btn btn-outline-danger btn-light">Decrypt</button>
        </div>

    </div>
</div>
<div class="row">
    <div class="col-12 mb-2">
        <textarea id="ciphertext" class="form-control readonly text-monospace" rows="5" placeholder="Ciphertext" readonly="readonly"></textarea>
    </div>
</div>

{% endblock %}
