{% extends "base.html" %}

{% block content %}

<p>This tool encrypts and decrypts strings using AES-256-CBC, and is fully compatible with OpenSSL.</p>

<div class="row">
    <div class="col-12 mb-2">
        <textarea id="plaintext" class="form-control" rows="5" placeholder="Plaintext"></textarea>
    </div>
</div>
<div class="form-row">
    <div class="col-12  col-md-9 col-lg-8 col-xl-7 mb-2">
        <div class="input-group">
            <div class="input-group-prepend">
                <span id="key-icon" class="input-group-text"><i class="fa fa-key"></i></span>
            </div>
            <input type="password" id="key" class="form-control text-monospace" placeholder="Key" aria-describedby="key-icon">
            <div class="input-group-append">
                <button type="button" id="show-key-button" class="btn btn-light btn-outline-secondary"><i class="fa fa-eye"></i></button>
                <button type="button" id="gen-key-button" class="btn btn-light btn-outline-secondary"><i class="fa fa-repeat"></i></button>
            </div>
        </div>
    </div>
    <div id="crypt-buttons" class="col-12 col-md-3 col-lg-2 mb-2">
        <div class="btn-group btn-group-justified d-flex" role="group">
            <button type="button" id="encrypt-button" class="btn btn-success btn-outline-success active">Encrypt</button>
            <button type="button" id="decrypt-button" class="btn btn-outline-danger btn-light">Decrypt</button>
        </div>

    </div>
</div>
<div class="row">
    <div class="col-12 mb-2">
        <textarea id="ciphertext" class="form-control readonly text-monospace" rows="5" placeholder="Ciphertext" readonly="readonly"></textarea>
    </div>
</div>

<hr>

<div class="row">
    <div class="col-12">
        <h3>Description</h3>
        <p>The <a href="https://en.wikipedia.org/wiki/Advanced_Encryption_Standard" target="_blank">Advanced Encryption Standard</a> is the most commonly used encryption algorithm in use on computers and over the internet.</p>
        <p>To encrypt a string, select the green <b>Encrypt</b> button, enter the text you want to encrypt in the upper <b>Plaintext</b> box, and enter the key or password that it should be encrypted with in the <b>Key</b> box. The resulting encrypted output will appear in the lower <b>Ciphertext</b> box. Likewise, to decrypt a ciphertext, select the red <b>Decrypt</b> button, enter the text you want to decrypt in the <b>Ciphertext</b> box, and the key used to decrypt it in the <b>Key</b> box. The decrypted output will appear in the <b>Plaintext</b> box.</p>
        <p>For this tool to be useful between two parties, you and your partner will need to share a secret key. To generate a shared secret over an insecure channel, use the <a href="/dhe">Diffie-Hellman Key Exchange</a> tool.</p>

        <h3>Do It Yourself</h3>
        <p>With OpenSSL, you can encrypt text in the same way as this tool like so.</p>
        <div class="p-3 mb-3 rounded code-block">
            <pre class="m-0">$ echo "here is my text to encrypt" | openssl enc -aes-256-cbc -base64</pre>
        </div>
        <p>After entering the key twice, you will have your encrypted ciphertext.</p>
        <p>To decrypt, do the following.</p>
        <div class="p-3 mb-3 rounded code-block">
            <pre class="m-0">$ echo "U2FsdGVkX18t2eQESKiASuNUcu0IKInN2OhmQteNCy4=" | openssl enc -d -aes-256-cbc -base64</pre>
        </div>
        <p>Type the key that was used to encrypt the string at the prompt, and the output will contain the plaintext.</p>
    </div>
</div>

{% endblock %}
