{% extends "base.html" %}

{% block content %}

<p>This tool encrypts and decrypts strings using AES-256-CBC, and is fully compatible with OpenSSL.</p>

<div class="row">
    <div class="col-xs-12">
        <textarea id="plaintext" class="form-control" rows="5" placeholder="Plaintext"></textarea>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="input-group">
            <span id="key-icon" class="input-group-addon"><i class="fa fa-key"></i></span>
            <input type="password" id="key" class="form-control" placeholder="Key" area-describedby="key-icon">
            <span class="input-group-btn">
                <button type="button" id="show-key-button" class="btn btn-default"><i class="fa fa-eye"></i></button>
                <button type="button" id="gen-key-button" class="btn btn-default"><i class="fa fa-repeat"></i></button>
            </span>
        </div>
    </div>
    <div id="crypt-buttons" class="col-xs-12 col-sm-6 col-md-3 col-lg-2">
        <div class="btn-group btn-group-justified" role="group">
            <div class="btn-group" role="group">
                <button type="button" id="encrypt-button" class="btn btn-success active">Encrypt</button>
            </div>
            <div class="btn-group" role="group">
                <button type="button" id="decrypt-button" class="btn btn-default">Decrypt</button>
            </div>
        </div>

    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <textarea id="ciphertext" class="form-control readonly" rows="5" placeholder="Ciphertext" readonly="readonly"></textarea>
    </div>
</div>

{% endblock %}
