<!DOCTYPE html>
<html lang="en">
{% include "head.html" %}
<body>
<div id="header">
    {% include "navbar.html" %}
</div>

<div id="wrapper">
    <div class="container">
        {% if display.title %}
        <h1 id="page-title">{{ title }}</h1>
        <hr>
        {% endif %}
        <div id="content">
            {% block content %}{% endblock %}
        </div>
    </div>
</div>

{% if display.footer %}
<footer id="footer">
    {% include "footer.html" %}
</footer>
{% endif %}
</body>
</html>
