{% extends "base.html" %}

{% block content %}

<div class="row mb-3">
    <div class="col-12">
        <label for="num-addresses">Number of addresses</label>
        <div class="form-row">
            <div class="col-6 col-md-2 col-lg-1 mb-2">
                <input type="number" id="num-addresses" class="form-control" value="1" min="1" max="100">
            </div>
            <div class="col-6 col-md-3 col-xl-2">
                <button id="generate-button" class="btn btn-primary btn-block">Generate addresses</button>
            </div>
        </div>
    </div>
</div>

<div class="card-group">
    <div class="card">
        <div class="card-header">
            <label for="private-keys" class="mb-0">Private keys</label>
        </div>
        <div class="card-body">
            <textarea id="private-keys" class="form-control text-monospace key-box" rows="1" title="private-keys"></textarea>
        </div>
    </div>
<div class="w-100 d-block d-lg-none"></div>
    <div class="card">
        <div class="card-header">
            <label for="addresses" class="mb-0">Addresses</label>
        </div>
        <div class="card-body">
            <textarea id="addresses" class="form-control text-monospace key-box" rows="1" title="addresses" readonly="readonly"></textarea>
        </div>
    </div>
</div>

{% endblock %}
