<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="{{ brand.href }}">{{ brand.label }}</a>
        <div class="navbar-header">
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            {% if display.navigation %}
            <ul class="navbar-nav mr-auto">
                {% for item in navigation %}
                {% if item.type == "link" %}
                <li class="nav-item {% if item.active %} active{% endif %}"><a class="nav-link" href="{{ item.href }}"><i class="fa {{ item.icon }}"></i> {{item.label}}</a></li>
                {% elseif item.type == "dropdown" %}
                <li class="nav-item dropdown{% if item.active %} active{% endif %}">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" href="#"><i class="fa {{ item.icon }}"></i> {{item.label}} <span class="caret"></span></a>
                    <div class="dropdown-menu">
                        {% for item in item.items %}
                        {% if item.type == "link" %}
                        <a class="dropdown-item{% if item.active %} active{% endif %}" href="{{item.href}}"><i class="fa fa-fw {{ item.icon }}"></i> {{item.label}}</a>
                        {% elseif item.type == "separator" %}
                        <div class="dropdown-divider"></div>
                        {% endif %}
                        {% endfor %}
                    </div>
                </li>
                {% endif %}
                {% endfor %}
            </ul>
            {% endif %}
        </div>
    </div>
</nav>
